@page "/proveedores/index"

@inject IProveedoresServicio _proveedoresServicio;
@inject NavigationManager _navigationManager;

<PageTitle>Proveedores</PageTitle>

<h1>Proovedores</h1>

<br/>

<button class="btn btn-primary" @onclick="Agregar">Agregar</button>

<br/>
<br/>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código Postal</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Tipo de IVA</th>
            <th scope="col">CUIT/CUIL</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in listaProovedores)
        {
            <tr>
                <td scope="row">@a.Codigo</td>
                <td>@a.Nombre</td>
                <td>@a.CodPos</td>
                <td>@a.Telefo</td>
                <td>@a.Tipiva</td>
                <td>@a.Cuit</td>
                <td><a href="/proveedores/modificar/@a.Codigo">Modificar</a></td>
                <td><a href="/proveedores/eliminar/@a.Codigo">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Provee> listaProovedores { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        listaProovedores = await _proveedoresServicio.Listar();
    }
    private async Task Agregar()
    {
        await Task.Delay(1);
        _navigationManager.NavigateTo("/proveedores/agregar");
    }
}
