@page "/clientes/index"

@inject IClientesServicio _clientesServicio;
@inject NavigationManager _navigationManager

<h1>Clientes</h1>

<br/>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Direccion</th>
            <th scope="col">Localidad</th>
            <th scope="col">Código Postal</th>
            <th scope="col">Telefono</th>
            <th scope="col">Tipo Iva</th>
            <th scope="col">CUIT</th>
            <th scope="col">Reparto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in listaClientes)
        {
            <tr>
                <td scope="row">@c.Id</td>
                <td>@c.Nombre</td>
                <td>@c.Codigo</td>
                <td>@c.Direcc</td>
                <td>@c.Locali</td>
                <td>@c.Codpos</td>
                <td>@c.Telefo</td>
                <td>@c.TIPIVA</td>
                <td>@c.CUIT</td>
                <td>@c.Reparto</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Cliente> listaClientes { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        listaClientes = await _clientesServicio.Listar();
    }
    private async Task AgregarCliente()
    {
        await Task.Delay(1);
        _navigationManager.NavigateTo("/clientes/agregar");
    }
}