@page "/proovedores"

@inject IProveedoresServicio _proveedoresServicio;

<h1>Proovedores</h1>

<br/>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Localidad</th>
            <th scope="col">Código Postal</th>
            <th scope="col">Telefono</th>
            <th scope="col">Tipo Iva</th>
            <th scope="col">CUIL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in listaProveedores)
        {
            <tr>
                <td scope="row">@p.Id</td>
                <td>@p.NombreP</td>
                <td>@p.DirecciónP</td>
                <td>@p.LocalidadP</td>
                <td>@p.CodigoPostalP</td>
                <td>@p.TeléfonoP</td>
                <td>@p.TIPIVAP</td>
                <td>@p.CUIL</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Proveedor proveedor { get; set; } = new Proveedor();
    private List<Proveedor> listaProveedores { get; set; } = new List<Proveedor>();


    protected override void OnInitialized()
    {
        listaProveedores = _proveedoresServicio.Listar();
    }

    private void AgregarProveedor()
    {
        _proveedoresServicio.AgregarProveedor(proveedor);
        proveedor = new Proveedor();
        listaProveedores = _proveedoresServicio.Listar();
    }
}